.header {
  background-image: linear-gradient(to right, #443f3ff3, #9f9fa560),
    url("../../../Images/peter-broomfield-m3m-lnR90uM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 992px) {
  .header {
    background-image: linear-gradient(to right, #443f3ff3, #9f9fa593),
      url("../../../Images/peter-broomfield-m3m-lnR90uM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
}