.circle{
    border: 5px solid rgba(7, 7, 7, 0.877);
    text-align: center;
    padding-top: 60px;
    height:180px;
    width:180px;
    margin: auto;
    font-weight: bold;
    border-radius:50%;
    background-color:rgb(247, 246, 246);
    color:rgb(14, 13, 13);

}
.arrow-icon{
    width: 200px;
    font-size: 50px;
}