.service-price {
  color: #0285e4;
}

.serviceCard {
  width: 20rem;

  cursor: pointer;
  transition: 0.4s!important;
}

.serviceCard:hover {
  transform: scale(1.1)!important;
  box-shadow: 0px 0px 30px -2px;
}
